<?php
/** @var \Magento\Catalog\Model\Product $product */
$product = $block->getProduct();
$html = [];
$attributCodes = [
    'category_group_ksb', 'category_group_ptw', 'category_group_kio', 'category_group_pdy',
    'category_group_sse', 'category_group_ogr_mro', 'category_group_maa', 'category_group_sie',
    'category_group_pru', 'category_group_pwf'
];
foreach ($attributCodes as $attributCode) {
    if (!$product->getData($attributCode)) {
        continue;
    }

    $attr = $product->getCustomAttribute($attributCode);
    if (!$attr) {
        continue;
    }

    $attributValue = $product->getResource()->getAttribute($attributCode)->getFrontend()->getValue($product);
    $html[] = sprintf("<small>Rodzaj powierzchni: <b>%s</b></small>", $attributValue);
}

$manufacturerAttr = $product->getCustomAttribute('manufacturer');
if ($manufacturerAttr) {
    $manufacturer = $product->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($product);
    $html[] = sprintf("<small>Producent: <b>%s</b></small>", $manufacturer);
}
if ($product->getAttributeSetId() == 23) {
    $html[] = "<small>Firma</small>";
}

echo implode("<br/>", $html);
