// Color definitions extracted from project designs with names generated using
// Name that color.
// @see http://chir.ag/projects/name-that-color/

// - page background
$color_white: #fff;

// footer background
$color_black: #000;

// headlines color
$color_mineshaft: #212121;

$color_tundora: #484848;

// text color
$color_dove-gray: #696969;
$color_silver-chalice: #b0b0b0;

//labels
$color_gray: #888;

// borders
$color_alto: #dcdcdc;

// borders menu hover
$color_gallery: #f0f0f0;

// primary color
$color_cerulean-blue: #e97e2e;
$color_torea-bay: #000000;

// secondary color
$color_gold: #fed400;
$color_kournikova: #ffea7f;

//error
$color_crimson: #e41f12;
$color_thunderbird: #cc1c10;

//success
$color_apple: #37b841;
$color_apple-dark: #31a43a;
$color_green-pea: #1e6b24;

//message success
$color_peppermint: #d5efd7;

//message warning and notice
$color_half-colonial-white: #fdf4ca;

//message error
$color_azaela: #f8d0ce;

//reminder note text
$color_gamboge: #ea9707;
$color_chelsea-gem: #a06704;

//review stars & bars
$color_yellow-orange: #fcb739;
$color_cape-honey: #fedfa4;

//transparent
$color_transparent: transparent;
