/** Changes to category.css **/
/** Category page **/
.cs-toolbar {
    text-transform: none !important;
}
.cs-product-tile__stock, .cs-product-tile__addtocart, .cs-container--page-bottom {
    display: none !important;
}
.cs-social-media-list__link {
    background-color: #cecece !important;
}
.cs-social-media-list__link:hover {
    background-color: #ffffff !important;
}
.price-label {
    color: #000000 !important;
}
/** Navigation **/
.cs-navigation__list--main {
    justify-content: flex-start !important;
}
.cs-navigation__link--main {
    padding: .9em 5.05em .9em 0 !important;
}

/** Changes to cms.css **/
/** Page header **/
@media (min-width: 64em) {
    .cs-header__user-nav {
        flex: 0 1 15% !important;
    }
}

/** Changes to dpd.css **/
/** Product page **/
.cs-buybox__section--essentials .overview {
    text-align: justify;
}
.product-options-bottom, .cs-buybox__stock, .cs-buybox__section--usps {
    display: none !important;
}
.cs-buybox {
    font-size: 1.4rem !important;
    line-height: 1.5 !important;
}
.swatch-select, .super-attribute-select {
    padding: 5px;
}
@media (min-width: 64em) {
    .cs-buybox__section {
        padding: 3rem 2rem !important;
    }
}
/** Footer **/
.cs-footer-links__item {
    font-size: 13px;
}
.cs-footer__item img.cs-footer__shop-logo {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    padding-bottom: 2px;
    margin-top: 6px;
}

/** Companies Category Styles **/

/** Category page **/
.category-firmy .cs-product-tile__price {
    display: none !important;
}

.cs-aftersearch-nav__filter-content a,
.cs-aftersearch-nav__filter-content a:visited {
    color: #000000 !important;
}

.cs-aftersearch-nav__filter-content a:active,
.cs-aftersearch-nav__filter-content a:focus,
.cs-aftersearch-nav__filter-content a:hover,
.cs-aftersearch-nav__filter-content a:visited:focus,
.cs-aftersearch-nav__filter-content a:visited:hover {
    color: #e97e2e !important;
}

/** Product page **/
.category-firmy .cs-buybox__price, .category-firmy .cs-buybox__section--product-form, .category-firmy .cs-links-block-addto,
.category-firmy .cs-buybox__section--extras, .category-firmy .cs-buybox__section--usps {
    display: none !important;
}

/** Changes to customer.css **/
/** Customer account wishlist **/
.form-wishlist-items .actions-toolbar .primary {
    display: none !important;
}
.wishlist-toolbar {
    padding-top: 5px;
}

/** Image teaser **/
.cs-image-teaser__slogan {
    font-weight: 500 !important;
}
