<dd class="product-item <%- data.row_class %> cs-autocomplete__item" id="qs-option-<%- data.index %>" role="option" href="<%- data.url %>">
    <div class="product-image-box cs-autocomplete__item-image-container">
        <img class="cs-autocomplete__item-image" src="<%- data.image %>">
    </div>
    <div class="product-shop product-item cs-autocomplete__item-details">
        <div class="f-fix">
            <div class="product-primary">
                <% if(data.brand) { %>
                <div class="product-name cs-autocomplete__item-brand"><%- data.brand %></div>
                <% } %>
                <div class="product-name cs-autocomplete__item-name"><%- data.title %></div>
            </div>
        </div>
    </div>
</dd>
